.home > div::before {
  content: '';
  background-image: url('/images/Background.PNG');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: -50%;
  bottom: 0;
  right: 50%;
  opacity: 0.5;
}

.home > div > div {
  position: relative;
}

.epicon > div::before {
  content: '';
  background-image: url('/images/Background.PNG');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

.epicon > div > p {
  position: relative;
}

.frensLabel {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
